@font-face {
    font-family: 'Helvetica';
    font-display: swap;
    src: url('../fonts/helvetica-light.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}
body {
    background-color: #667246;
}
.logo {
    position: absolute;
    z-index: 3;
    top: 104px;
    left: 0;
    right: 0;
    text-align: center;
}
.swiper {
    position: relative;
    height: calc(var(--vh, 1vh) * 100);
}
.swiper-slide:before {
    content: '';
    display: block;
    background-image: url('../img/shadow.png');
    width: 100%;
    height: 524px;
    position: absolute;
    z-index: 2;
}
.desktop-img,
.mobile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mobile-img {
    display: none;
}
.swiper-pagination {
    bottom: 53px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.swiper-pagination-bullet {
    background: white !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active {
    width: 12px !important;
    height: 12px !important;
}
.fp-watermark {
    display: none;
}

@media (max-width: 430px) {
    .desktop-img {
        display: none;
    }
    .mobile-img {
        display: block;
    }
    .logo {
        top: 52px;
    }
    .logo img {
        width: 130px;
    }
    .swiper-slide:before {
        background-image: url('../img/shadow2.png');
        height: 234px;
    }
}
