@font-face {
    font-family: 'Helvetica';
    font-display: swap;
    src: url('../fonts/helvetica-light.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
