@import 'fonts';
@import 'null';

body {
    background-color: #667246;
}
.fp-watermark {
    display: none;
}
.container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 15px;
}

@import './sections/slider';
