@import 'fonts';
@import 'null';

body {
    background-color: #667246;
}
.fp-watermark {
    display: none;
}
.container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 15px;
}
.section__two {
    background-color: white;
    display: block !important;
}

@import './sections/slider';
@import './sections/services';
@import './sections/menu';
@import './sections/poster';
