.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    &__grid {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 100px;
        @media (max-width: 820px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 25px;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 9px;
        &:first-child {
            justify-content: space-between;
            li:first-child,
            li:last-child {
                img {
                    width: 15px;
                }
            }
            @media (max-width: 820px) {
                margin-left: auto;
            }
            @media (max-width: 768px) {
                margin-left: 0;
            }
        }
        &:last-child {
            li:first-child {
                img {
                    width: 11px;
                }
            }
        }
        @media (max-width: 820px) {
            max-width: 350px;
        }
        @media (max-width: 768px) {
            max-width: none;
        }
        &-item {
            display: grid;
            grid-template-columns: 20px 1fr;
            gap: 9px;
            img {
                margin: 0 auto;
                transform: translateY(1px);
            }
            @media (max-width: 390px) {
                max-width: 344px;
            }
        }
        &-item,
        &-item a {
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            color: black;
            align-items: center;
            transition: 0.4s;
            cursor: pointer;
            &:hover {
                color: #7841c0;
            }
            @media (max-width: 820px) {
                font-size: 16px;
                line-height: 120%;
            }
            @media (max-width: 430px) {
                font-size: 14px;
            }
        }
        @media (max-width: 768px) {
            gap: 25px;
        }
    }
    &__logo {
        display: block;
        margin: 0 auto;
        width: 150px;
        margin-top: 100px;
    }
}
