.menu {
    margin-bottom: 51px;
    &__title {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        justify-content: center;
        gap: 20px;
        color: black;
        display: flex;
        cursor: pointer;
        width: fit-content;
        margin: 0 auto;
        transition: 0.4s;
        font-weight: 500;
        &:before,
        &:after {
            transition: 0.4s;
            content: url('../img/icon-19.png');
            transform: translateY(-3px);
        }
        &.poster-btn {
            &:before,
            &:after {
                display: none;
            }
        }
        &.active {
            &:before,
            &:after {
                content: url('../img/icon-19.png');
                transform: translateY(4px) rotate(180deg);
            }
            &:hover {
                &:before,
                &:after {
                    content: url('../img/icon-20.png');
                    transform: translateY(4px) rotate(180deg);
                }
            }
        }
        &:hover {
            color: #7841c0;
            &:before,
            &:after {
                content: url('../img/icon-20.png');
            }
        }
    }
    &__subtitle {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        color: black;
        font-size: 18px;
        margin-bottom: 16px;
        font-weight: 700;
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 184px;
        max-height: 0;
        overflow: hidden;
        transition: 0.9s;
        @media (max-width: 1290px) {
            gap: 50px;
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
        & > div {
            margin-top: 51px;
            margin-bottom: 49px;
            @media (max-width: 768px) {
                margin-bottom: 0;
            }
            &:last-child {
                @media (max-width: 768px) {
                    margin-top: 0;
                }
            }
        }
        &-item {
            display: grid;
            grid-template-columns: 3fr 1fr 1fr;
            gap: 20px;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            span {
                flex: 0 0 auto;
            }
            p {
                flex: 1 1 auto;
            }
            @media (max-width: 768px) {
                gap: 30px;
            }
        }
    }
    &__flex {
        display: flex;
        flex-direction: column;
        gap: 24px;
        &:not(:last-child) {
            margin-bottom: 34px;
        }
    }
}
