.menu {
    margin-bottom: 100px;
    &__title {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        justify-content: center;
        gap: 20px;
        color: black;
        display: flex;
        cursor: pointer;
        width: fit-content;
        margin: 0 auto;
        &:before,
        &:after {
            transition: 0.4s;
            content: url('../img/icon-19.png');
            transform: translateY(-3px);
        }
        &.active {
            &:before,
            &:after {
                content: url('../img/icon-19.png');
                transform: translateY(4px) rotate(180deg);
            }
        }
    }
    &__subtitle {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        color: black;
        font-size: 18px;
        margin-bottom: 16px;
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 184px;
        max-height: 0;
        overflow: hidden;
        transition: 0.9s;
        & > div {
            margin-top: 51px;
        }
        &-item {
            display: flex;
            gap: 50px;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            span {
                flex: 0 0 auto;
            }
            p {
                flex: 1 1 auto;
            }
        }
    }
    &__flex {
        display: flex;
        flex-direction: column;
        gap: 24px;
        &:not(:last-child) {
            margin-bottom: 34px;
        }
    }
}
