.services {
    padding-top: 85px;
    margin-bottom: 97px;
    &__list {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        @media (max-width: 1233px) {
            justify-content: space-around;
            row-gap: 30px;
        }
        &-item {
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            grid-area: 26px;
            gap: 26px;
            max-width: 177px;
            cursor: pointer;
            position: relative;
            transition: 0.4s;
            span {
                margin-top: auto;
            }
            &:nth-child(4) {
                max-width: 210px;
            }
            img {
                transition: 0.4s;
                &.img-hover {
                    position: absolute;
                    top: 0;
                    opacity: 0;
                    visibility: hidden;
                }
            }
            &:hover {
                color: #7841c0;
                img.img-hover {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
