.slider {
    position: relative;
}
.logo {
    position: absolute;
    z-index: 3;
    top: 70px;
    left: 15px;
    right: 15px;
    & > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    a {
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 26px;
        display: flex;
        font-weight: 600;
        gap: 10px;
        transition: 0s;
        align-items: center;
        position: relative;
        span {
            transition: 0.2s;
            text-transform: uppercase;
            border-bottom: 2px solid transparent;
        }
        img:first-child {
            width: 13px;
            @media (max-width: 900px) {
                width: 11px;
            }
            @media (max-width: 430px) {
                width: 8px;
                transform: translateY(-1px);
            }
        }
        img.hover-img {
            transition: 0.2s;
            width: 25px;
            transform: translateY(1px) translateX(2px);
        }
        &:last-child {
            text-align: right;
        }
        @media (max-width: 900px) {
            font-size: 22px;
        }
        @media (max-width: 460px) {
            font-size: 16px;
        }
        @media (max-width: 360px) {
            font-size: 14px;
        }
        &:hover {
            text-shadow: white 1px 0 10px;
            span {
                border-bottom: 2px solid white;
            }
            img.hover-img {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    @media (max-width: 700px) {
        top: 22px;
    }
    &-img {
        width: 218px;
        @media (max-width: 900px) {
            width: 160px;
        }
        @media (max-width: 700px) {
            display: none;
        }
    }
    &-mobile-img {
        display: none;
        @media (max-width: 700px) {
            width: 160px;
            margin: 0 auto;
            margin-bottom: 20px;
            display: block;
        }
        @media (max-width: 430px) {
            width: 130px;
        }
    }
}
.swiper {
    position: relative;
    height: calc(var(--vh, 1vh) * 100);
    &:before {
        content: '';
        display: block;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
    }
    &-container {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        & .swiper-button-prev {
            left: 114px;
            transform: rotate(180deg);
            &:after {
                display: none;
            }
            @media (max-width: 1150px) {
                left: 15px;
            }
            @media (max-width: 900px) {
                display: none;
            }
            &__img-hover {
                display: none;
            }
            &:hover {
                .swiper-button-prev__img {
                    display: none;
                }
                .swiper-button-prev__img-hover {
                    display: block;
                }
            }
        }
        & .swiper-button-next {
            right: 114px;
            &:after {
                display: none;
            }
            @media (max-width: 1150px) {
                right: 15px;
            }
            @media (max-width: 900px) {
                display: none;
            }
            &__img-hover {
                display: none;
            }
            &:hover {
                .swiper-button-next__img {
                    display: none;
                }
                .swiper-button-next__img-hover {
                    display: block;
                }
            }
        }
    }
    &-slide {
        &__text {
            text-align: center;
            p {
                font-size: 30px;
                color: white;
                font-family: 'Open Sans', sans-serif;
                margin: 0 auto;
                padding: 0 10px;
                @media (max-width: 900px) {
                    font-size: 24px;
                }
                @media (max-width: 430px) {
                    display: none;
                }
            }
        }
    }
}
.desktop-img,
.mobile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.desktop-img {
    @media (max-width: 430px) {
        display: none;
    }
}
.mobile-img {
    display: none;
    @media (max-width: 430px) {
        display: block;
    }
}
.swiper-pagination {
    bottom: 53px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    &-bullet {
        background: white !important;
        opacity: 1 !important;
        @media (max-width: 430px) {
            width: 6px !important;
            height: 6px !important;
        }
        &-active {
            width: 12px !important;
            height: 12px !important;
            @media (max-width: 430px) {
                width: 10px !important;
                height: 10px !important;
            }
        }
    }
    @media (max-width: 700px) {
        bottom: 22px !important;
    }
}
.hover-img {
    width: 45px;
    position: absolute;
    left: -8px;
    transform: translateY(-1px);
    visibility: hidden;
    opacity: 0;
}
.swiper-2 {
    overflow: hidden;
    position: absolute;
    top: 46%;
    left: 0;
    right: 0;
    max-width: 830px;
    margin: 0 auto;
    .swiper-slide {
        opacity: 0 !important;
    }
    .swiper-slide-active {
        opacity: 1 !important;
    }
}
.mobile-text {
    display: none;
    @media (max-width: 430px) {
        display: block !important;
    }
    @media (max-width: 390px) {
        display: none !important;
    }
}
.small-mobile-text {
    display: none;
    @media (max-width: 390px) {
        font-size: 16px !important;
        display: block !important;
    }
}
