.social {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    li {
        a {
            svg {
                width: 40px;
                height: 40px;
                path {
                    transition: 0.3s;
                }
            }
        }
        &:hover {
            &:first-child {
                path {
                    fill: #7841c0;
                }
            }
            &:last-child {
                path {
                    stroke: #7841c0;
                }
            }
        }
    }
}
